<header>
    <p>This is the header</p>
</header>
<main>
    {{render '@h1'}}
    {{render '@paragraph' paragraph="coucou"}}
    {{render '@figure'}}
    {{render '@paragraph' }}
</main>
<nav>
    {{render '@ordered-list'}}
</nav>
<footer>
    <p>This is the footer</p>
</footer>
